body{
    font-family: 'Dancing Script', cursive;
    background-color: #02010a;
}
#content{
    margin: 0 auto;
    width: 900px;
}
img{
    margin: 0 auto;
    width: 85%;
    height: auto;
    box-shadow: 2px 2px #02010a;
}
/*--Encabezado--*/
.encabezado{
    width: 100%;
    color: white;
    background-color: #5b7989;
    
    display: flex;
    flex-flow: row wrap;

    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;


    animation: slidein 1s;
}  
    .title{
        width: 40%;
    }
    .title h1{
        text-shadow: 2px 2px #02010a;
        margin-left: 15px;
    }
    nav{
        width: 60%;
        font-size: 1.2em;
    }
    nav ul{
        list-style-type: none;
        text-align: right;
    }
    nav li{
        display: inline-block;
        margin: 10px;
    }
    nav a{
        color: white;
    }
    .active{
        text-decoration: none;
    }
    @-webkit-keyframes slidein{
        from{
            margin-top: 150%;
        }
        60%{
            margin-top: -5%;
        }
        100%{
            margin-top: 0%;
        }
    }    
/*Contenido*/
#principal {
    width: 100%;
    background-color: #82c3a6;
    display: flex;
    flex-flow: row wrap;
}
    #imagen-central img{
        width: 85%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

#secundario, #galeria{
    width: 100%;
    background-color:  #d5c75f ;
    display: flex;
    flex-flow: row wrap;
}
    #paisaje, #retrato{
        width: 50%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    } 
    #paisaje img, #retrato img{
        display: block;
        
        transition-duration: 1s;
    }
    #paisaje a, #retrato a{
        color: #02010a;
    }
    article{
        text-align: center;
        color: black
    }
    
    /*Animaciones*/
    #paisaje img:hover{
        transform: rotate(10deg);
        border: 2px solid black;
        box-shadow: 2px 2px #82c3a6;
    }
    #retrato img:hover{
        transform: translate(20px, -5px);
        border: 2px solid black;
        box-shadow: 2px 2px #82c3a6;
    }
    
    /*Sección de Galería*/
    #galeria article{
        width: 30%;

        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    section#galeria article:nth-child(even) img{ filter: grayscale(100%);}
    section#galeria article:nth-child(1) img{ filter: blur(10px);}
    section#galeria article:nth-child(3) img{ filter: sepia(90%);}

/*--Pie de Pagina--*/
.pie-pagina{
    background-color: #C6d5c5;
    width: 100%;

    display: flex;
    flex-flow: row wrap;

    border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -o-border-radius: 0px 0px 10px 10px;
}
    .bloque{
        width: 20%;
        margin: 0 auto;
    }
    .bloque a{
        color: #02010a;
        text-decoration: none;
    }
    .icon{
        width: 24px;
        height: 19px;
    }
@media (min-width:600px) and (max-width: 900px){
    /*Encabezado y contenido*/
    #content{
        width: 100%;
    }
    .title{
        width: 50%;
    }
    nav{
        width: 50%;
    }
    /*--Pie de Pagina--*/
    .bloque{
        width: 40%;
    }
}
@media (min-width:420px) and (max-width: 600px){
    /*Encabezado y contenido*/
    .encabezado{
        padding: 0;
    }
    #content{
        width: 100%;
    }
    .title{
        width: 100%;
        text-align: center;
    }
    nav{
        width: 100%;
    }
    nav ul{
        text-align: center;
        
        margin: 0;
    }
    /*Contenido*/

    #paisaje, #retrato{
        width: 100%;
    }

    #galeria article{
        width: 45%;
    }
    /*--Pie de Pagina--*/
    .bloque{
        width: 40%;
    }
}
@media (max-width: 420px){
    /*Encabezado y contenido*/
    
    #content{
        width: 100%;
    }
    .title{
        width: 100%;
        text-align: center;
    }
    nav{
        width: 100%;
    }
    nav ul{
        text-align: center;
        
        margin: 0;
    }
    nav li{
        display: inline-block;
    }
    /*Contenido*/

    #paisaje, #retrato{
        width: 100%;
    }

    #galeria article{
        width: 100%;
    }
    /*--Pie de Pagina--*/
    .bloque{
        width: 80%;
    }
}